.contact{
    padding: 1rem;
    margin: 1rem;
    width: 80%;
    background-color:bisque;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

.contact button{
    background-color: blueviolet;
    border-radius: 8px;
    display: block;
    margin-left: 15rem;
    
}