.style7{
    display: flex;
    height: 6rem;
    background-color:#56CCF2;
    width:100%;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 50px;
    font-size: blod;
    font-size: Times New Roman;
    margin-top: 40px;
    margin: 0 auto;
    padding-left:80px;
}