.style1 {
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  background: white;
  margin-left: 6rem;
  display: flex;
}

.style2 {
  margin-left: 35%;
  margin: 10px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  background: green;
  border-radius: 10%;
  display: flex;
}

.style3 {
  margin-right: 35%;
  padding: 8px;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10%;
  background: #56ccf2;
}
